<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Bootstrap Table</title>

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <script>
        function printToken()
        {
            var token = document.getElementById('token').innerText;
            console.log(token)
        }

        function buy(userId,productId)
        {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '../../user/buyProduct?userId='+userId+'&productId='+productId, false);
            xhr.send();
            if (xhr.status != 200) {
                // обработать ошибку
                alert( xhr.status + ': ' + xhr.statusText ); // пример вывода: 404: Not Found
            } else {
                // вывести результат
                alert( xhr.responseText ); // responseText -- текст ответа.
            }
        }
    </script>
</head>
<body>
<p id="token" th:text="${token}"/>
<th:block th:each="item : ${products}">
    <p th:text="${item.name}"></p>
    <button th:text="Купить" th:onclick="'printToken(); buy('+${user.id}+','+${item.id}+'); return false;'"></button>
</th:block>


</body>
</html>